.shop__layout {
  display: grid;
  grid-template-columns: minmax(24rem, 1fr) 32rem;
  gap: 1rem;
  align-items: start;
}

.shop__list ul {
  display: grid;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

@media (max-width: 700px) {
  .shop__layout {
    grid-template-columns: 1fr;
  }
}
