# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# .NET / Visual Studio
**/.vs/
backend/**/bin/
backend/**/obj/

# Editor
.vscode/

# OS
Thumbs.db
.DS_Store
*.db-shm
*.db-wal
*.csproj.user
