<section class="inventory">
  <h3>Wealth : {{wealth()}}</h3>
  <div class="inventory__layout">
    <div class="inventory__list">
      @if (inventory().length === 0) {
      <p>No items in inventory.</p>
      } @else {
      <ul>
        @for (item of inventory(); track item.ownedItemId) {
        <li app-item-list-entry [item]="item.item" [quantity]="item.quantity">
          <div class="inventory__actions">
            @if (shopActive()) {
            <button
              class="inventory__sell-button"
              type="button"
              [disabled]="!canSell()"
              [attr.title]="'Sell ' + item.item.name"
              [attr.aria-label]="'Sell ' + item.item.name"
              (click)="onSellClicked(item.item)"
            >
              {{getSellPrice(item.item)}}
            </button>
            } @if (item.item.itemCategory.equipSlot) {
            <button
              class="inventory__equip-button"
              type="button"
              [disabled]="!isAllRequirementsMet(item.item.itemRequirements)"
              [attr.title]="
              isAllRequirementsMet(item.item.itemRequirements)
                ? 'Equip ' + item.item.name
                : 'Requirements not met'
            "
              [attr.aria-label]="'Equip ' + item.item.name"
              (click)="onEquipClicked(item)"
            >
              E
            </button>
            }
          </div>
        </li>
        }
      </ul>
      }
    </div>

    <app-item-details />
  </div>
</section>
