@if (activeCombat(); as combat) {
<section class="combat-screen">
  <header class="combat-header">
    <span>{{ character()?.name }}</span>
    <strong>Versus</strong>
    <span>{{ combat.combatantName }}</span>
  </header>

  <div class="combat-arena">
    <div class="combat-side">
      <div class="health-bar">
        <div
          class="health-bar__fill"
          [style.width.%]="hpPercent(combat.currentCharacterHp, character()?.maxHp ?? 0)"
        ></div>
        <span class="health-bar__text">
          {{ combat.currentCharacterHp }} / {{ character()?.maxHp ?? 0 }}
        </span>
      </div>
      <img class="combat-image" src="/images/characters/warrior.png" />
    </div>

    <div class="combat-side combat-side--right">
      <div class="health-bar">
        <div
          class="health-bar__fill"
          [style.width.%]="hpPercent(combat.currentCombatantHp, combat.combatantMaxHp)"
        ></div>
        <span class="health-bar__text">
          {{ combat.currentCombatantHp }} / {{ combat.combatantMaxHp }}
        </span>
      </div>
      @if (combat.combatantImageKey !== 'unknown') {
      <img class="combat-image" [src]="'/images/combatants/' + combat.combatantImageKey + '.png'" />
      }
    </div>
  </div>
  @if(!combatantDefeated() && !characterDefeated()){
  <div class="combat-actions">
    <button class="button button--neutral" (click)="endCombat()">Flee</button>
    <button class="button button--neutral" (click)="attack()">Attack</button>
  </div>
  } @else if(combatantDefeated()){
  <button class="button button--neutral" (click)="returnToMap()">Return to Map</button>
  } @else {
  <button class="button button--neutral" (click)="respawn()">Respawn in town</button>
  }

  <div #combatLog class="combat-log">
    <p>{{ combat.combatLogs }}</p>
  </div>
</section>
}
